.keyboard {
  overflow-x: scroll;
  white-space: nowrap;
  position: relative; }

.white-key {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  height: 200px;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100px; }

.black-key {
  background-color: #000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  height: 125px;
  position: absolute;
  -webkit-transform: translateX(-27px);
          transform: translateX(-27px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 50px; }

.hover-key {
  background-color: #d1d1d1;
  cursor: pointer; }
