@import '../../../../variables';
@import '../../../../mixins';

.keyboard {
  overflow-x: scroll;
  position: relative;
  white-space: nowrap;
}

.white-key {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: $black;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  height: 200px;
  margin: 0;
  position: relative;
  user-select: none;
  width: 100px;
}

.black-key {
  background-color: $black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: $black;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  height: 125px;
  position: absolute;
  transform: translateX(-27px);
  user-select: none;
  width: 50px;
  z-index: 1;

  .note-name {
    color: $white;
  }
}

.hover-key {
  background-color: $key-hover;
  cursor: pointer;
}

.note-name {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
